*{
    margin:0;
    padding:0;
    font-family: 'Kumbh Sans', sans-serif;
}

.container{
    background-image: url(./bg-pattern-top.svg),url(./bg-pattern-bottom.svg);
    background-color:hsl(185, 75%, 39%);
    background-size: 50%,50%;
    background-repeat: no-repeat,no-repeat;
    background-position: left -10% top -30vh,right -10% bottom -30vh;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    min-width: 25vw;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 30px hsla(229, 23%, 23%,0.5);
    position:relative;
}

.top{
    height:15vh;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-image: url(./bg-pattern-card.svg);

}

.profile img{
    border-radius: 100%;
    position:absolute;
    min-width:30%;
    top:95px;
    left:35%;
    border:white 6px solid;  
}
.middle,.bottom{
    background-color: white;
}

.bottom{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-around;
    padding:30px;
    border-top:0.5px solid hsla(227, 10%, 46%,0.3);
}
.middle{
    padding-top: 100px;
    padding-bottom: 50px;
}
.middle p{
    text-align: center;
    font-size:30px;
    text-transform: capitalize;
    line-height: 25px;

}
h4{
    color:hsl(227, 10%, 46%);
    text-transform: capitalize;
}
.middle h4{
    text-align: center;
}
h2{
    text-transform: uppercase;
    color:hsl(229, 23%, 23%);
}
span{
    padding-left: 8px;
    color: hsl(227, 10%, 46%);
}

@media screen and (max-width:1140px) {
    .card{
        width: 35vw;
    }
}
@media screen and (max-width:845px) {
    .card{
        width: 45vw;
    }
}
@media screen and (max-width:685px) {
    .card{
        width: 55vw;
    }
}
@media screen and (max-width:580px) {
    .card{
        width: 60vw;
    }
}
@media screen and (max-width:515px) {
    .card{
        width: 70vw;
    }
}
@media screen and (max-width:455px) {
    .card{
        width: 75vw;
    }
}
@media screen and (max-width:395px) {
    .card{
        width: 75vw;
    }
    .profile img{
        position:absolute;
        left:32%;
    }
}
@media screen and (max-width:365px) {
    .card{
        width: 85vw;
    }
}
@media screen and (max-width:325px) {
    .card{
        width: 95vw;
    }
}
@media screen and (max-width:270px) {
    .card{
        width: 95vw;
    }
    h2{
        font-size: 110%;
    }
    .bottom h4{
        font-size: 85%;
    }
    span{
        padding-left: 0px;
    }
    .profile img{
        position: absolute;
        left:30%;
    }
}